{% extends 'base.html' %}
{% load static%}

{% block title %}
	<title> Login · InfoWeb </title>
{% endblock title %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/custom/login_style.css'%}"/>
{% endblock style %}

{% block content %}
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <h3 id="form-title">LOGIN</h3>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="username" id="username" />
          </div>

          <div class="input-group mb-2">
            <input type="password" name="password" id="password" />
          </div>

          {% for msg in messages%}
            {% if msg is True %}
            <span></span>

            {% else %}
            <p style="text-align: center">{{ msg }} </p>
            {% endif%}
          {% endfor %}
          <div class="d-flex justify-content-center mt-3 login_container">
            <input
              onclick="validateForm()"
              class="btn login_btn"
              type="submit"
              value="Login"
            />
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          <a href="#" class="ml-2">Forgot Password&quest;</a>
        </div>

        <div class="d-flex justify-content-center links">
          New Here&quest;
          <a href="{% url 'staff:register' %}" class="ml-2">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/custom/validate_login.js' %}"></script>

<script>
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Username..";
  form_fields[2].placeholder = "Enter password...";

  for (var field in form_fields) {
    form_fields[field].className += " form-control";
  }
</script>
{% endblock content %}
