{% extends 'base.html' %}
{% load static %}


{% block content %}

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">ID_number</th>
        <th scope="col">first_name</th>
        <th scope="col">last_name</th>
      </tr>
    </thead>
    <tbody>

    
      <tr>
        <th scope="row">1</th>
        <td>{{ personal_details.ID_number }}</td>
        <td>{{ personal_details.first_name}}</td>
        <td>{{ personal_details.last_name}}</td>
      </tr>

    </tbody>
  </table>
{% endblock content%}
<link rel="stylesheet" href="{% static  'js/bootstrap/bootstrap.bundle.min.js' %}">